.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.title{
    color: gray;
    font-weight: bold;
}
.username{
    font-weight: 500;
}

.userDetail{
    display: flex;
    gap: 10px;
    align-items: center;
}
.avatar{
    object-fit: cover;
    border-radius: 50%;
}

